[mysqld]
plugin-load-add=rocksdb=ha_rocksdb.so
rocksdb=1

# binary log
binlog_row_image=minimal
#loose-binlog_space_limit=4G

# connections
connect_timeout=120
back_log=4K
max_connections=4K
max_prepared_stmt_count=4M

# general
table_open_cache=256K
table_open_cache_instances=64


# RocksDB
rocksdb_max_background_jobs=16           # 2
rocksdb_cache_high_pri_pool_ratio=0.5    # 0.0

rocksdb_max_open_files=-1                # 1000
rocksdb_max_total_wal_size=4G            # 2G
rocksdb_merge_buf_size=1G                # 64M

rocksdb_max_subcompactions=4             # 1
rocksdb_compaction_readahead_size=16m    # 0
# rocksdb_write_policy=write_unprepared  # slower reads, faster writes

# MyRocks defaults
#rocksdb_default_cf_options=compaction_pri=kMinOverlappingRatio;compression=kLZ4Compression;bottommost_compression=kLZ4Compression;level_compaction_dynamic_level_bytes=true;block_based_table_factory={cache_index_and_filter_blocks=1;filter_policy=bloomfilter:10:false;whole_key_filtering=1};optimize_filters_for_hits=true

# Mark's + compression=kLZ4Compression
rocksdb_default_cf_options=max_write_buffer_number=4;write_buffer_size=32m;max_bytes_for_level_base=256m;compaction_pri=kMinOverlappingRatio;compression=kLZ4Compression;bottommost_compression=kLZ4Compression;level_compaction_dynamic_level_bytes=true;block_based_table_factory={cache_index_and_filter_blocks=1;filter_policy=bloomfilter:10:false;whole_key_filtering=1};optimize_filters_for_hits=true
